/* ================================= 
  Media Queries
==================================== */


@media (min-width: 375px) {
    .primary {
        display: flex;
        flex-direction: column;
    } /* Puts the .primary div into a flex container, items felx direction: column*/
    
    .headline {
        align-items: center;
        margin: auto;
    }/* Place img in the center of the contianer, margin takes up reminding space */
    
    
}


@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
	}

	.row {
		flex-wrap: wrap;
	}


	.secondary {
		order: -1;
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: -1;
	}

 
   
}









