


    /***************************************
MEDIA QURIE: FORM
****************************************/

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}


@media (min-width: 360px) {
  .contact-info ul li {
    width: 45%;
  }
}
/* =================================
  Media Queries
==================================== */


@media (min-width: 769px) {
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}
	.tagline {
		font-size: 1.4em;
	}

    .primary {

    }
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 100%;
	}



}
